.alert{
    width: 300px;
    background-color: black;
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: calc(50% - 150px);
    color: white;
    text-align: center;
    box-shadow: rgba(235, 235, 239, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.alert>p{
    color: white;
    font-size: 2rem;
    margin-bottom: 0;
}

.MuiTablePagination-caption {
    flex-shrink: 0;
    font-size: 1.5rem !important;
}

::-webkit-scrollbar {
    width: 8px !important; 
  }
    ::-webkit-scrollbar-track {
    background: #504f5136; 
  }
    ::-webkit-scrollbar-thumb {
    background:#2806b19f; 
      border-radius:5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    
    background: #ffa60169; 
  } 

  select{
    width: 100%;
    background-color: #F0F1F3;
    height: 50px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  select option{
    
    padding: 1rem;
    
  }
  @media print {
    .not-print{
      display: none;
    }
  }